<a href="https://colab.research.google.com/github/satyamdash/Data-Noida-2019-Sept/blob/master/TweetswithBernouli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!unzip -qq /content/nlp-getting-started.zip

In [0]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

import string
from wordcloud import STOPWORDS
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer

In [0]:
train=pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sub_sample = pd.read_csv("sample_submission.csv")

In [84]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [0]:
stemmer=PorterStemmer()

In [0]:
for i in range(train.shape[0]):
  words=[w for w in word_tokenize(train.loc[i,'text']) if (w not in stopwords)&(w.isalpha())]
  words=[stemmer.stem(w) for w in words ]
  train.loc[i,'text']=' '.join(words)

In [0]:


from wordcloud import WordCloud, STOPWORDS
from nltk import FreqDist, word_tokenize

stopwords = set(STOPWORDS)
more_stopwords = {'https', 'amp'}
stopwords = stopwords.union(more_stopwords)

In [0]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [185]:
train['text']

0           our deed reason earthquak may allah forgiv us
1                    forest fire near La rong sask canada
2       all resid ask place notifi offic No evacu shel...
3             peopl receiv wildfir evacu order california
4       just got sent photo rubi alaska smoke wildfir ...
                              ...
7608       two giant crane hold bridg collaps nearbi home
7609    thetawniest the control wild fire california e...
7610                                 utc S volcano hawaii
7611    polic investig collid car littl portug rider s...
7612    the latest more home raze northern california ...
Name: text, Length: 7613, dtype: object

In [0]:
total_words=[w for w in word_tokenize(' '.join(sents)) if (w not in stopwords)& (w.isalpha())&(len(w)>1)]

In [0]:
alpha=[w for w in word_tokenize(' '.join(sents)) if (w.isalpha())]

In [0]:
filtered_sent=train['text']

In [188]:
filtered_sent

0           our deed reason earthquak may allah forgiv us
1                    forest fire near La rong sask canada
2       all resid ask place notifi offic No evacu shel...
3             peopl receiv wildfir evacu order california
4       just got sent photo rubi alaska smoke wildfir ...
                              ...
7608       two giant crane hold bridg collaps nearbi home
7609    thetawniest the control wild fire california e...
7610                                 utc S volcano hawaii
7611    polic investig collid car littl portug rider s...
7612    the latest more home raze northern california ...
Name: text, Length: 7613, dtype: object

In [0]:
sents=train["text"]

In [0]:
cv = CountVectorizer(max_features=1000,ngram_range=(1,2))

In [225]:
cv.fit(filtered_sent)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=1000, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
X = cv.transform(filtered_sent).todense()

In [227]:
X.shape

(7613, 1000)

In [0]:
model3 = KMeans(2)

In [154]:
model3.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [0]:
np.unique(train["target"], return_counts=True)

(array([0, 1]), array([4342, 3271]))

In [0]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,RidgeClassifier

In [0]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, train["target"], test_size=0.33, random_state=42)

In [0]:
model = BernoulliNB()
model2=LogisticRegression()
model4=RidgeClassifier?

In [230]:
model.fit(X_train,y_train)
model2.fit(X_train,y_train)
model4.fit(X_train,y_train)

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [231]:
print(model.score(X_test,y_test))
print(model2.score(X_test,y_test))
print(model4.score(X_test,y_test))

0.7910863509749304
0.7906884202148826
0.7759649820931158

In [0]:
test_data=pd.read_csv("test.csv")

In [0]:
test_Sent=test_data["text"]

In [233]:
cv.fit(test_Sent)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=1000, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
X_Test=cv.transform(test_Sent).todense()

In [0]:
pred=model.predict(X_Test)

In [0]:
submit=pd.read_csv("sample_submission.csv")

In [0]:
submit["target"]=pred

In [0]:
submit.to_csv("mysubmission.csv",index=False)

         id  target
0         0       1
1         2       0
2         3       1
3         9       0
4        11       1
...     ...     ...
3258  10861       1
3259  10865       0
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]